@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  background: #fff;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #ab23ff;
}

@layer base {
  @font-face {
    font-family: "Satoshi Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/Satoshi-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Satoshi Medium";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/Satoshi-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Satoshi Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/Satoshi-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Monument Extended Regular";
    font-style: normal;
    font-weight: normal;
    src: url("../public/fonts/MonumentExtended-Regular.woff2") format("woff");
  }
}
